.Mahmud{
	width: 25%;
	height: 25%;
}
.mm{
	width: 40%;
	height: 20%;
}

/*.hello{
	background-color: #002aeb;
    border: #002aeb solid 1px;
    color: #fff;
    color: #000;
    padding: 10px 40px;
    border-radius: 27px;
    display: inline-block;
}*/

.about{/*text-transform: uppercase;
    background: #fff;
    width: 190px;
    padding: 12px 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    border-radius: 27px;*/
}
	

/*.md {
	display: block;
    color: #fff;
    font-size: 17px;
    padding-left: 25px;
}*/